services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"  # HTTP interface
      - "9000:9000"  # TCP interface
    environment:
      CLICKHOUSE_DB: telemetry
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: password
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_logs:/var/log/clickhouse-server
      - ./src/clickhouse/init:/docker-entrypoint-initdb.d
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "clickhouse-client --query 'SELECT 1'"]
      interval: 30s
      timeout: 10s
      retries: 3

  postgres:
    image: postgres:15       
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: user    
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase    
    ports:
      - "5432:5432"              
    volumes:
      - postgres_metadata:/var/lib/postgresql/data  
    networks:
      - app_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  clickhouse_data:
  clickhouse_logs:
  postgres_metadata:

networks:
  app_network:
    driver: bridge